<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baidu.fpu.usercenter.dao.UserDao">
    <resultMap id="userResultMap" type="com.baidu.fpu.usercenter.model.po.User">
        <id property="id" column="id"/>
        <result property="cCreateBy" column="c_create_by"/>
        <result property="cCreateTime" column="c_create_time"/>
        <result property="cUpdateBy" column="c_update_by"/>
        <result property="cUpdateTime" column="c_update_time"/>
        <result property="cDelete" column="c_delete"/>
        <result property="cStatus" column="c_status"/>
        <result property="cPrcid" column="c_prcid"/>
        <result property="cCashCard" column="c_cash_card"/>
        <result property="cName" column="c_name"/>
        <result property="cExtra0" column="c_extra_0"/>
        <result property="cExtra1" column="c_extra_1"/>
        <result property="cExtra2" column="c_extra_2"/>
    </resultMap>

    <insert id="add" parameterType="com.baidu.fpu.usercenter.model.po.User">
        INSERT INTO
            tbl_user (c_prcid, c_name, c_cash_card, c_create_time, c_update_time)
        VALUES
            (#{cPrcid}, #{cName}, #{cCashCard}, now(), now());
    </insert>

    <select id="get" parameterType="long" resultMap="userResultMap">
        SELECT * FROM tbl_user WHERE id=#{id}
    </select>

    <select id="getByPrcid" parameterType="String" resultMap="userResultMap">
        SELECT * FROM tbl_user WHERE c_prcid=#{prcid};
    </select>

    <update id="update" parameterType="com.baidu.fpu.usercenter.model.po.User">
        UPDATE tbl_user SET
            c_name=#{cName},
            c_prcid=#{cPrcid},
            c_cash_card=#{cCashCard},
            c_update_time=now()
        WHERE id=#{id};
    </update>
</mapper>